package common

templ Input(name string) {
	<input type="text" id={ name } name={ name } class="shadow appearance-none border rounded-lg w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"/>
}
